<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thtf.office.mapper.TblVehicleInfoMapper">
    <!-- 条件查询公车信息 -->
    <select id="select" parameterType="com.thtf.office.vo.VehicleInfoParamVO" resultType="com.thtf.office.entity.TblVehicleInfo">
        select * from tbl_vehicle_info
        <where>
            delete_time is null
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="carNumber != null">
                and car_number = #{carNumber}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="vehicleCategoryId != null">
                and vehicle_category_id = #{vehicleCategoryId}
            </if>
        </where>
    </select>
    <!-- 删除与指定公车类别关联的公车信息 -->
    <update id="setCidToNull" parameterType="java.lang.Long">
        update tbl_vehicle_info
        set vehicle_category_id = null
        where delete_time is null and vehicle_category_id = #{cid}
    </update>
    <!-- 修改公车状态 -->
    <update id="changeVehicleStatus" parameterType="java.util.Map">
        update tbl_vehicle_info
        set status = #{status},update_time = CURRENT_TIMESTAMP,update_by = #{updateBy}
          <if test="workingDuration != null">
              ,working_duration = working_duration + #{workingDuration}
          </if>
        where delete_time is null and id = #{vid}
    </update>

    <!-- 车辆调度状态实时统计
    状态：0->待命中 1->出车中 2->维修中 3->已淘汰（该状态不参与统计） 排序按状态升序
    注意：数据库中某状态没有数据时无法统计 -->
    <select id="getVehicleStatus" parameterType="java.util.Map" resultType="com.thtf.office.vo.VehicleStatisticsResultVO">
        select count(*) as number,(case when (status = 0 ) then '待命中' when (status = 1 ) then '出车中' when (status = 2 ) then '维修中' else status end) as attribute
        from tbl_vehicle_info
        where delete_time is null
        <if test="cid != null">
            and  vehicle_category_id = #{cid}
        </if>
        group by status
        order by status desc

    </select>

    <!-- 各类车辆出车统计 -->
    <select id="getVehicleCategory" parameterType="com.thtf.office.vo.VehicleStatisticsParamVO" resultType="com.thtf.office.vo.VehicleStatisticsResultVO">
        select count(scheduling.id) as number,category.name as attribute
        from tbl_vehicle_category as category
        left join tbl_vehicle_scheduling as scheduling
        on (category.id = scheduling.vehicle_category_id
        and NOW() > scheduling.end_time
        and end_time BETWEEN #{startTime} and #{endTime}
        )
        where category.delete_time is null and scheduling.delete_time is null
        GROUP BY category.name
        order by number desc
    </select>

    <!-- 排行榜获取 注意：此处使用${}中参数为后端设置不存在sql注入攻击风险 -->
    <select id="getRankings" parameterType="java.util.Map" resultType="com.thtf.office.vo.VehicleRankingsResultVO">
        select @rowno:=@rowno+1 as top,rate.${field} as attribute,rate.number as number
        from (
        select @rowno:=0, ${field} ,count(*) as number,delete_time,end_time
        from tbl_vehicle_scheduling
        group by ${field}
        HAVING delete_time is null and NOW() > end_time and end_time BETWEEN #{startTime} and #{endTime}
        order by number desc
        ) as rate
    </select>

    <select id="getWorkingDurationRankings" parameterType="java.util.Map" resultType="com.thtf.office.vo.VehicleRankingsResultVO">
        select @rowno:=@rowno+1 as top,rate.car_number as attribute,rate.number as number
        from (
                 select @rowno:=0, car_number ,${field} as number
                 from tbl_vehicle_info
                 where delete_time is null
                 order by ${field} desc
             ) as rate
    </select>

    <!-- 查询统计某类公车的当月和当日使用情况 注意：排序按照id升序，方便日、月数据合并，业务层再进行排序 -->
    <select id="selectByCidByDate" parameterType="java.util.Map" resultType="com.thtf.office.vo.VehicleSelectByDateResult">
        select info.id as id,info.car_number as attribute,count(scheduling.id) as ${dateType}
        from tbl_vehicle_info as info
        left join tbl_vehicle_scheduling as scheduling on (info.id = scheduling.vehicle_info_id
        and DATE_FORMAT(end_time, #{dateTemplate}) = DATE_FORMAT(NOW(), #{dateTemplate})
        and scheduling.vehicle_category_name = (
          select distinct tbl_vehicle_category.name
            from tbl_vehicle_info
            inner join tbl_vehicle_category on (tbl_vehicle_info.vehicle_category_id = tbl_vehicle_category.id)
            where tbl_vehicle_info.delete_time is null and tbl_vehicle_category.delete_time is null
            and tbl_vehicle_info.vehicle_category_id = #{categoryId}
            limit 1
            )
        )
        where info.delete_time is null and scheduling.delete_time is null and info.vehicle_category_id = #{categoryId}
        group by info.car_number
        order by id
    </select>
    <!-- 关键词模糊查询 -->
    <select id="selectByKey" resultType="com.thtf.office.entity.TblVehicleInfo">
        select *
        from tbl_vehicle_info
        where delete_time is null
        and car_number like concat('%',#{keywords},'%')
    </select>

    <!-- 更新公车的类别 -->
    <update id="changeBind" parameterType="java.util.Map">
            update tbl_vehicle_info
            set  vehicle_category_id = #{newCid}
            where id = #{vid} and delete_time is null and vehicle_category_id = #{oldCid}
    </update>
</mapper>
